/*BUTTON*/

.sui-btn {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666666;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    margin: 2px;
}

.sui-btn-btn:disabled {
    color: rgb(141, 141, 141);
}

.sui-btn-btn:disabled:hover {
    cursor: default;
}

.sui-btn-warning--button {
    background: rgb(255, 230, 0);
    color: rgb(49, 49, 49);
}

.sui-btn-warning--button:hover {
    cursor: pointer;
    background-color: rgba(243, 178, 0, 0.411);
    transition: all 80ms ease-in;
}

.sui-btn-danger--button {
    background: rgb(255, 0, 0);
    color: whitesmoke;
}

.sui-btn-secondary--button {
    background: rgb(63, 63, 63);
    color: whitesmoke;
}

.sui-btn-primary--button {
    background: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
}

.sui-btn-default--button {
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666666;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    margin: 2px;
}

.sui-btn-default--button:hover {
    cursor: pointer;
    background-color: rgba(127, 127, 127, 0.2);
    transition: all 80ms ease-in;
}


/*TOOLTIP*/

smdui-tooltip {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sui-tt {
    width: max-content;
    max-width: 120px;
    font-weight: lighter;
    background-color: #fff;
    color: black;
    position: absolute;
    /* top: 0.25rem; */
    z-index: -1;
    padding: 0.15rem;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);
    opacity: 0;
    transform: translateY(0px);
    transition: all 150ms ease-in;
    pointer-events: none;
}

.sui-tt-open {
    z-index: 500;
    opacity: 0.75;
    transform: translateY(-100%);
}

.sui-tt:host {
    /* position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer; */
}

.sui-tt:host-context(p) {
    /* font-weight: bold;
    border-bottom: 1px solid #ccc; */
}

.sui-tt-icon {
    background: black;
    color: white;
    padding: 0.15rem 0.5rem;
    text-align: center;
    border-radius: 50%;
}

slot {
    display: flex;
    justify-content: center;
}


/*Dialog*/

.smdui-dialog-wrapper {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /*width: 400px;*/
    /*min-height: fit-content;*/
    max-height: 50%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    z-index: 501;
    opacity: 0;
    top: 20%;
    /*left: 20%;*/
}

.smdui-dialog-wrapper-active {
    z-index: 502;
}

.smdui-dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    background: rgb(235, 234, 234);
}

.smdui-dialog-wrapper.open {
    pointer-events: all;
    opacity: 1;
}

.smdui-dialog-content {
    display: flex;
    flex-direction: column;
    min-height: 20px;
    overflow-y: auto;
}

.smdui-dialog-close-button {
    margin-inline-start: auto;
    padding: 5px;
    color: gray;
}

.smdui-dialog-close-button:hover {
    cursor: pointer;
}

.smdui-dialog-heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-variant: petite-caps;
    font-weight: bold;
    font-size: 20px;
    pointer-events: none;
}

@media (max-width: 640px) {
    .smdui-dialog-wrapper {
        height: 30%;
    }
}


/*TABS*/

.sui-tabs-wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    /*border-bottom: 1px solid grey;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sui-tabs-tab-area {
    width: 100%;
    height: auto;
    background-color: white;
    /*border-bottom: 1px solid grey;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sui-tabs-tab-page {
    width: 100%;
    height: auto;
    background-color: white;
    /*border-bottom: 1px solid grey;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sui-tabs-tab {
    width: max-content;
    min-width: 35px;
    padding: 0.5rem;
    margin: 0.2rem;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.sui-tabs-tab:hover {
    /* border-bottom: 2px solid lightgrey; */
    transition: all ease-in 0.2s;
    cursor: pointer;
}

.sui-tabs-selected {
    border-bottom: 2px solid rgb(255, 0, 85);
    /* transition: height ease-in 0.4s; */
}

.sui-tabs-tab-content {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: lightslategrey;
}

.sui-tabs-selected span {
    color: mediumblue;
}

.sui-tabs-pageHidden {
    display: none;
}

.sui-tabs-pageVisible {
    display: flex;
}